@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
/* Typical Device Breakpoints
-----------------------------
Pequenas Telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes Telas: acima de 1200px*/

* {
    font-family: "Poppins", sans-serif;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

:root {
    --rgba: rgba(173, 163, 163, 0.384);
    --branco: #ffffff;
    --laranja: #EE7D4D;
    --laranja-fonte: #FF770A;
    --laranja-fundo: #f8cca7;
    --preto: #000000;
}

body {
    background-color: var(--branco);
    min-height: 100vh;
}

/* menu principal */
.nav {
    background-color: var(--branco);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav li {
    height: 50px;
}

.nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--laranja-fonte);
}

.nav a:hover {
    background-color: #f0f0f0;
}

.nav li:first-child {
    margin-right: auto;
}

.nav .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.nav .sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
    color: var(--preto);
}

.nav .menu-button {
    display: none;
}

/* início da primeira section */
.primeira-secao figure {
    padding: 4px;
    margin: auto;
    width: 50%;
    height: auto;
}

.primeira-secao figure img {
    width: 60%;
    height: auto;
    margin: 4px auto;
    display: flex;
}

.primeira-secao figcaption {
    background-color: var(--laranja);
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
    width: 100%;
    height: auto;
}

/* início da segunda section */
.segunda-secao {
    margin: auto;
    /*align-items: center;*/
    height: auto;
    column-count: 3;
    display: flex;
    flex-flow: row wrap;
}

.segunda-secao section {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    padding: 30px;
}

.segunda-secao figure {
    height: 100%;
}

.segunda-secao h1 {
    text-align: center;
}

.segunda-secao img {
    margin: auto;
    display: flex;
}

.segunda-secao figcaption {
    width: 100%;
    height: auto;
    margin: 5px auto;
    text-align: justify;
    max-width: 280px;
    min-height: 148px;
}

/* configuração do button */
.segunda-secao button {
    background-color: var(--laranja);
    margin: 10px auto;
    display: flex;
    padding: 10px;
    border-radius: 5px;
}

.segunda-secao button:hover {
    background-color: var(--branco);
}

.segunda-secao button a {
    color: var(--branco);
}

.segunda-secao button a:hover {
    color: var(--laranja-fonte);
}

/* configuração da apresentação 
.item {
    background-image: url('../imagens/portfolio1.jpg');
}
.item {
    background-image: url('../imagens/portfolio2.jpg');
}
.item {
    background-image: url('../imagens/portfolio3.jpg');
}
.item {
    background-image: url('../imagens/portfolio4.jpg');
}
.item {
    background-image: url('../imagens/portfolio5.jpg');
}
.item {
    background-image: url('../imagens/portfolio6.jpg');
}*/
.terceira-secao {
    margin: 5px 0;
    position: relative;
    display: flex;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 70vw;
    height: 70vh;
    background: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
}

.terceira-secao .slide .item {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: .5s;
}

.terceira-secao .item:nth-child(1),
.terceira-secao .item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.terceira-secao .item:nth-child(3) {
    left: 50%;
}

.terceira-secao .item:nth-child(4) {
    left: calc(50% + 220px);
}

.terceira-secao .item:nth-child(5) {
    left: calc(50% + 440px);
}

/* here n = 0, 1, 2, 3,... */
.terceira-secao .item:nth-child(n + 6) {
    left: calc(50% + 660px);
    opacity: 0;
}

.terceira-secao .item .content {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}

.terceira-secao .slide .item:nth-child(2) .content {
    display: block;
}

.terceira-secao .item .content .name {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.terceira-secao .item .content .des {
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.terceira-secao .item .content button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

@keyframes animate {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.button {
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 20px;
}

.button button {
    font-size: 1em;
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.button button:hover {
    background: #ababab;
    color: var(--branco);
}

/* início da página sobre */
.sobre>h1,
.sobre>h2 {
    background-color: var(--branco);
    color: var(--laranja-fonte);
    display: flex;
    padding: 10px;
    margin: 5px auto;
    width: 70vw;
    height: 8vh;
}

.sobre>p {
    background-color: var(--branco);
    color: var(--preto);
    text-align: justify;
    display: flex;
    margin: 0 auto;
    line-height: 2em;
    padding: 10px;
    width: 70vw;
}

/* início da página serviços */
.servico h1 {
    color: var(--laranja-fonte);
    margin: 10px auto;
    width: 80vw;
    display: block;
}

.servico p {
    color: var(--preto);
    text-align: justify;
    margin: 10px auto;
    max-width: 70vw;
    display: flex;
}

.servico .servico-imagem {
    display: block;
    margin: 10px auto;
    max-width: 80vw;
    height: auto;
    display: flex;
}

.servico .servico-imagem img {
    display: flex;
    max-width: 500px;
    height: auto;
    margin: auto;
}

.servico .itens img {
    display: flex;
}

/* início da página orçamento */
section.whatsapp {
    margin: auto;
    display: flex;
    width: 400px;
}
section.whatsapp i {
    display: block;
    margin: auto;
    font-size: 5em;
    color: var(--laranja-fonte);
}
section.whatsapp button {
    display: inline-block;
    margin: auto;
    background-color: var(--laranja-fonte);
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    color: var(--branco);
}

/* inicio da configuração do formulário */
.formulario form {
    padding: 10px;
    margin: 10px auto;
    color: var(--branco);
    background-color: var(--laranja-fonte);
}
.formulario label {
    display: flex;
    margin: auto;
    padding: 5px;
    width: 80vw;
}
.formulario input {
    width: 80vw;
    border-radius: 5px;
    height: 40px;
    display: flex;
    margin: auto;
}
.formulario textarea {
    width: 80vw;
    border-radius: 5px;
    display: flex;
    margin: auto;
}

footer {
    background: var(--laranja-fundo);
    color: var(--branco);
    text-align: center;
    font-size: 2em;
    width: 100%;
    height: 50px;
}