@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
/* Typical Device Breakpoints
-----------------------------
Pequenas Telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes Telas: acima de 1200px*/

* {
    font-family: "Poppins", sans-serif;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

:root {
    --rgba: rgba(173, 163, 163, 0.384);
    --branco: #ffffff;
    --laranja: #EE7D4D;
    --laranja-fonte: #FF770A;
    --laranja-fundo: #f8cca7;
    --preto: #000000;
}

body {
    background-color: var(--branco);
    min-height: 100vh;
}

/* menu principal */
.nav {
    background-color: var(--branco);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav li {
    height: 50px;
}

.nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--laranja-fonte);
}

.nav a:hover {
    background-color: #f0f0f0;
}

.nav li:first-child {
    margin-right: auto;
}

.nav .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.nav .sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
    color: var(--preto);
}

.nav .menu-button {
    display: none;
}

/* início da primeira section */
.primeira-secao figure {
    padding: 4px;
    margin: auto;
    width: 50%;
    height: auto;
}

.primeira-secao figure img {
    width: 60%;
    height: auto;
    margin: 4px auto;
    display: flex;
}

.primeira-secao figcaption {
    background-color: var(--laranja);
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
    width: 100%;
    height: auto;
}

/* início da segunda section */
.segunda-secao {
    margin: auto;
    /*align-items: center;*/
    height: auto;
    column-count: 3;
    display: flex;
    flex-flow: row wrap;
}

.segunda-secao section {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    padding: 30px;
}

.segunda-secao figure {
    height: 100%;
}

.segunda-secao h1 {
    text-align: center;
}

.segunda-secao img {
    margin: auto;
    display: flex;
}

.segunda-secao figcaption {
    width: 100%;
    height: auto;
    margin: 5px auto;
    text-align: justify;
    max-width: 280px;
    min-height: 148px;
}

/* configuração do button */
.segunda-secao button {
    background-color: var(--laranja);
    margin: 10px auto;
    display: flex;
    padding: 10px;
    border-radius: 5px;
}

.segunda-secao button:hover {
    background-color: var(--branco);
}

.segunda-secao button a {
    color: var(--branco);
}

.segunda-secao button a:hover {
    color: var(--laranja-fonte);
}

/* configuração da apresentação 


/* início da página sobre */
.sobre>h1,
.sobre>h2 {
    background-color: var(--branco);
    color: var(--laranja-fonte);
    display: flex;
    padding: 10px;
    margin: 5px auto;
    width: 70vw;
    height: 8vh;
}

.sobre>p {
    background-color: var(--branco);
    color: var(--preto);
    text-align: justify;
    display: flex;
    margin: 0 auto;
    line-height: 2em;
    padding: 10px;
    width: 70vw;
}

/* início da página serviços */
.servico h1 {
    color: var(--laranja-fonte);
    margin: 10px auto;
    width: 80vw;
    display: block;
}

.servico p {
    color: var(--preto);
    text-align: justify;
    margin: 10px auto;
    max-width: 70vw;
    display: flex;
}

.servico .servico-imagem {
    display: block;
    margin: 10px auto;
    max-width: 80vw;
    height: auto;
    display: flex;
}

.servico .servico-imagem img {
    display: flex;
    max-width: 500px;
    height: auto;
    margin: auto;
}

.servico .itens img {
    display: flex;
}

/* início da página orçamento */
section.whatsapp {
    margin: auto;
    display: flex;
    width: 400px;
}
section.whatsapp i {
    display: block;
    margin: auto;
    font-size: 5em;
    color: var(--laranja-fonte);
}
section.whatsapp button {
    display: inline-block;
    margin: auto;
    background-color: var(--laranja-fonte);
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    color: var(--branco);
}

/* inicio da configuração do formulário */
.formulario form {
    padding: 10px;
    margin: 10px auto;
    color: var(--branco);
    background-color: var(--laranja-fonte);
}
.formulario label {
    display: flex;
    margin: auto;
    padding: 5px;
    width: 80vw;
}
.formulario input {
    width: 80vw;
    border-radius: 5px;
    height: 40px;
    display: flex;
    margin: auto;
}
.formulario textarea {
    width: 80vw;
    border-radius: 5px;
    display: flex;
    margin: auto;
}

footer {
    background: var(--laranja-fundo);
    color: var(--branco);
    text-align: center;
    font-size: 2em;
    width: 100%;
    height: 50px;
}